* {
    font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
}

QMainWindow {
    background-color: transparent;
}

QWidget#WidgetTitleBar {
    background-color: #BCD8EE;
}

QWidget#file_explorer_bar,
QWidget#file_area,
QWidget#sidebar,
QWidget#central_widget {
    background-color: white;
}