QPushButton{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0px;
    border: none;
    background: transparent;
}
QPushButton:hover{
    background-color:#82bdea;
}
#MINIZE_BUTTON:hover {
    background-color: #82bdea;
}
#CLOSE_BUTTON:hover{
    background-color:red;
}